[Unit]
Description=MailHog service
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ mailhog_dir }}/mailhog
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
